@import '../variables';
@import '../../mixins';

.echLegendTable__container {
  @include euiYScrollWithShadows;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: $euiSizeS;

  :focus {
    @include euiFocusRing(null, 1);
    background-color: $euiFocusBackgroundColor;
    border-radius: $euiBorderRadius / 2;
  }
}

.echLegendTable {
  overflow: auto;
  display: grid;
  width: 100%;
  position: relative;

  &__header,
  &__rowgroup,
  &__row {
    // This ignores all above elements for positioning
    // effectively spreading all children in its place
    display: contents;
  }

  .echColorPickerPopover {
    display: flex;
    align-items: center;
  }
}

.echLegend {
  &--vertical {
    .echLegendTable__container {
      padding-bottom: $euiSizeXS;
      padding-left: $echLegendRowGap;
      padding-right: $echLegendRowGap;
      margin-top: $echLegendRowGap;
      margin-bottom: $echLegendRowGap;
    }

    &--right .echLegendTable__container {
      padding-right: 0;
    }
    &--left .echLegendTable__container {
      padding-left: 0;
    }
  }

  &--horizontal {
    .echLegendTable__container {
      margin-top: $echLegendRowGap / 2;
      margin-bottom: $echLegendRowGap / 2;
    }
    .echLegendTable {
      padding-left: $echLegendRowGap;
      padding-right: $echLegendRowGap;
      margin-top: $echLegendRowGap / 2;
      margin-bottom: $echLegendRowGap / 2;
    }
  }
}
