@import '../../mixins';

$legendBorderColor: $euiColorLightShade;
$legendBorderWidth: 1px;
$rowColorStripWidth: 5px;
// /**
//  * Manually synced with `COLOR_DOT_CHECK_WIDTH` const in [`legend_table.tsx`](packages/charts/src/components/legend/components/legend_table.tsx)
//  */
$colorDotCheckWidth: 12px;
$colorDotPadding: 5px;
$maxRowColorDotWidth: $colorDotCheckWidth + $colorDotPadding * 2;

$tableBorder: solid $legendBorderWidth $legendBorderColor;

$tableRowHoverColor: transparentize($euiColorPrimary, 0.95);
$tableRowSelectedColor: tintOrShade($euiFocusBackgroundColor, 0, 10%);
$tableRowHoverSelectedColor: tintOrShade($euiFocusBackgroundColor, 0, 10%);

$transitionTime: 200ms;

.echLegendTable {
  .echLegendTable__cell--truncate {
    @include lineClamp(2);
  }

  &__header,
  &__footer {
    .echLegendTable__cell {
      cursor: default;
      font-weight: $euiFontWeightSemiBold;
      background-color: $euiColorEmptyShade;
      position: sticky;
      z-index: 1;
    }
  }

  &__header,
  &__body,
  &__footer,
  &__row {
    // This ignores all above elements for positioning
    // effectively spreading all children in its place
    display: contents;
  }


  &__footer {
    margin-top: 0;
    bottom: 0;

    .echLegendTable__cell {
      border-top: $tableBorder;
      bottom: 0;
    }
  }

  &__tableCell:not(.echLegend__colorCell) {
    padding: 4px;
  }

  &__body {
    .echLegendTable__cell:not(.echLegend__colorCell) {
      padding: 2px 4px;
      transition:
        margin $transitionTime,
        padding $transitionTime;
    }

    .echLegendTable__row--selected {
      .echLegendTable__cell:not(.echLegend__colorCell),
      .echLegend__colorCell .echLegend__colorStrip--spacer {
        background-color: $tableRowSelectedColor;
      }

      .echLegend__colorCell + .echLegendTable__cell {
        margin-left: $colorStripPadding * 2;
        padding-left: 10px;
      }
    }

    .echLegendTable__row--selected:hover {
      .echLegendTable__cell:not(.echLegend__colorCell),
      .echLegend__colorCell .echLegend__colorStrip--spacer {
        background-color: $tableRowHoverSelectedColor;
      }
    }
    .echLegendTable__row--selectable:hover {
      .echLegendTable__cell:not(.echLegend__colorCell),
      .echLegend__colorCell .echLegend__colorStrip--spacer {
        background-color: $tableRowHoverColor;
      }
    }
  }

  &__row {
    position: relative;

    &--highlighted {
      .echLegendTable__cell:not(.echLegend__colorCell),
      .echLegend__colorCell .echLegend__colorStrip--spacer {
        background-color: transparentize($euiColorLightShade, 0.5);
      }
    }

    &--selected {
      :not(.echLegend__colorCell--static) .echLegend__colorStrip {
        width: $maxRowColorStripWidth;

        &--spacer {
          width: 0;
          min-width: 0;
        }

        &--icon {
          opacity: 1;
        }
      }
    }
  }

  &__colorCell {
    padding: 0;
    height: 100%;
    position: relative;
    overflow: hidden; // to avoid extra height from color strip styles
    width: $maxRowColorStripWidth;

    &--static {
      width: $rowColorStripWidth;
    }
  }

  &__label {
    min-width: 1px;
    flex: 1 1 auto;
    text-align: left;
  }

  &__value {
    text-align: right;
    font-feature-settings: 'tnum';
  }
}
