
@import '../../mixins';
.echLegendDivider {
  width: 100%;
  border-bottom: $tableBorder;
}

$echLegendMaxWidth: 200px;
$echLegendRowGap: 8px;
$echLegendColumnGap: 24px;




$legendItemVerticalPadding: $echLegendRowGap / 2;
$legendItemHeight: #{$euiFontSizeXS * $euiLineHeight};

.echLegendTableItem__seriesItem {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 4px;
}

.echLegendTable__cell {
  @include euiFontSizeXS;
  align-content: center;
  border-bottom: $euiColorLightestShade solid 1px;
  padding-bottom: 4px;
  padding: $euiSizeXS ($euiSizeXS * 2);
}

.echLegendTableItem .echLegendTable__cell:last-child {
  padding-right: 0;
}

.echLegendTableItem:last-child .echLegendTable__cell {
  border-bottom: #D3DAE6 solid 1px;
}

.echLegendTableItem--highlightable {
  .echLegendTable__cell:hover {
    background-color: $euiColorLightestShade;
  }
  
  .echLegendTable__cell:hover ~ .echLegendTable__cell {
    background-color: $euiColorLightestShade;
  }
  
  .echLegendTable__cell:has(~ .echLegendTable__cell:hover) {
    background-color: $euiColorLightestShade;
  }
}

.echLegendTable {
  .echLegendTableItem {
    color: $euiTextColor;
  
    .colorWrapper.echLegendTable__cell {
      padding-right: 0;
      padding-left: 0 !important;
      width: 12px;
    }

  
    &:not([dir='rtl']) > * {
      padding-left: $euiSizeS;
  
      // &:last-child:not(.echLegendTableItem__legendValue) {
      //   padding-right: $euiSizeS;
      // }
    }
  
    &[dir='rtl'] > * {
      padding-right: $euiSizeXS;
  
      // &:last-child:not(.echLegendTableItem__legendValue) {
      //   padding-left: $euiSizeXS;
      // }
    }
  
    &[dir='rtl'] .echLegendTableItem__legendValue {
      text-align: left;
    } 
  
    &:not(&--hidden) {
      .echLegendTableItem__color--changable {
        cursor: pointer;
      }
    }
  
    &__legendValue {
      @include euiFontSizeXS;
      text-align: right;
      flex: 0 0 auto;
      font-feature-settings: 'tnum';
      letter-spacing: unset;
      direction: ltr;
      white-space: nowrap;
    }
  
    &--vertical {
      padding-top: $legendItemVerticalPadding / 2;
      padding-bottom: $legendItemVerticalPadding / 2;
  
      &:first-of-type {
        margin-top: $legendItemVerticalPadding / 2;
      }
    }
  
    &--hidden {
      color: $euiColorDarkShade;
    }
  
    &[dir='rtl'] {
      .echLegendTableItem {
        &__label {
          text-align: right;
        }
      }
    }
  }
}

















.echLegendTable {
  overflow: auto;
  display: grid;
  width: 100%;
  padding: 8px;
  position: relative;

  .echLegendTable__rowgroup {
    display: contents;
  }
  .echLegendTable__row {
    display: contents;
  }
}

.echLegendTable {
    &--horizontal {
      max-width: 100%;
      max-height: 100px;
      .echLegendTable {
        padding-bottom: 4px;
        margin-top: $echLegendRowGap;
        margin-bottom: $echLegendRowGap;
      }
    }
  
    &--top,
    &--left {
      order: 0;
    }
  
    &--bottom,
    &--right {
      order: 1;
    }
  
    &--debug {
      background: rgba(238, 130, 238, 0.2);
      position: relative;
    }
  
    &--inert {
      pointer-events: none;
    }
  
    .echLegendTable__container {
      @include euiYScrollWithShadows;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
  
      :focus {
        @include euiFocusRing(null, 1);
        background-color: $euiFocusBackgroundColor;
        border-radius: $euiBorderRadius / 2;
      }
    }
  }
  
