$legendBorderWidth: 1px;
$tableOutsideBorder: solid $legendBorderWidth $euiColorLightShade;

.echLegendHeader {
  font-weight: $euiFontWeightSemiBold;
  font-size: $euiFontSizeXS;
  .echLegendTable__cell {
    border-bottom: $tableOutsideBorder;
    font-weight: $euiFontWeightSemiBold;
    background-color: $euiColorEmptyShade;
    position: sticky;
  }
}