$tableRowHoverColor: $euiColorLightestShade;
$legendBorderColor: $euiColorLightestShade;

$echLegendRowGap: 8px;
$echLegendColumnGap: 8px;

$legendItemVerticalPadding: $echLegendRowGap / 2;
// $legendItemHeight: #{$euiFontSizeXS * $euiLineHeight};

$legendBorderWidth: 1px;
$tableBorder: solid $legendBorderWidth $legendBorderColor;
$tableOutsideBorder: solid $legendBorderWidth $euiColorLightShade;

// /**
//  * Manually synced with `COLOR_DOT_CHECK_WIDTH` const in [`legend_table.tsx`](packages/charts/src/components/legend/components/legend_table.tsx)
//  */
$colorDotCheckWidth: 12px;
