$tableRowHoverColor: $euiColorLightestShade;
$legendBorderColor: $euiColorLightestShade;

$echLegendRowGap: 8px;
$echLegendColumnGap: 8px;

$legendItemVerticalPadding: $echLegendRowGap / 2;
// $legendItemHeight: #{$euiFontSizeXS * $euiLineHeight};

$legendBorderWidth: 1px;
$tableBorder: solid $legendBorderWidth $legendBorderColor;
$tableOutsideBorder: solid $legendBorderWidth $euiColorLightShade;

