.echLegend {
  z-index: 1;

  max-width: 50%;
  .echLegend__table {
    overflow: auto;
    display: grid;
    width: 100%;
    padding: 8px;
    position: relative;

    .echLegend__tableRowgroup {
      display: contents;
    }
    .echLegend__tableRow {
      display: contents;
    }
  }
  &--horizontal {
    max-width: 100%;
    max-height: 100px;
    .echLegend__table {
      padding-bottom: 4px;
      margin-top: $echLegendRowGap;
      margin-bottom: $echLegendRowGap;
    }
  }

  &--top,
  &--left {
    order: 0;
  }

  &--bottom,
  &--right {
    order: 1;
  }

  &--debug {
    background: rgba(238, 130, 238, 0.2);
    position: relative;
  }

  &--inert {
    pointer-events: none;
  }

  .echLegend__tableContainer {
    @include euiYScrollWithShadows;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    :focus {
      @include euiFocusRing(null, 1);
      background-color: $euiFocusBackgroundColor;
      border-radius: $euiBorderRadius / 2;
    }
  }
}
