$tableRowHoverColor: $euiColorLightestShade;
$legendBorderColor: $euiColorLightestShade;

$echLegendRowGap: 8px;
$echLegendRowHeight: 16px;
$echLegendColumnGap: 24px;

$legendItemVerticalPadding: $echLegendRowGap / 2;

$legendBorderWidth: 1px;
$tableBorder: solid $legendBorderWidth $legendBorderColor;
$tableOutsideBorder: solid $legendBorderWidth $euiColorLightShade;
